1. What query would you run to summarize the number of countries in each continent? The query should display the name of the continent and the number of countries. Also, the query should arrange the result by the number of countries in descending order.

In [ ]:
# USE world;

# SELECT continent, count(*) AS num_countries FROM countries
# GROUP BY continent
# ORDER BY num_countries DESC;

2. What query would you run to get all the countries that speak Greek? Your query should return the name of the country, language, and language percentage. Your query should arrange the result by language percentage in descending order.

In [ ]:
# SELECT c.name, l.language,l.percentage FROM countries c
# JOIN languages AS l ON c.id = l.country_id 
# WHERE l.language ='Greek'
# ORDER BY l.percentage DESC

3.​ What query would you run to get all the countries with Surface Area less than 1000 OR a population greater than 100,0000,000? Include the country name, surface area, and population in your results.

In [ ]:
# SELECT 
#     name, surface_area, population
# FROM
#     countries
# WHERE
#     surface_area < 1000
#         OR population > 1000000000;

4. What query would you run to get countries with a government form of “Federal Republic” with a life expectancy of less than 75 years?  Include the country name, form of government, and life expectancy in the results.

In [ ]:
# SELECT 
#     name, government_form, life_expectancy
# FROM
#     countries
# WHERE
#     government_form = 'Federal Republic'
#         AND life_expectancy < 75;

5. What query would you run to get all the cities of Mexico inside the Veracruz district and have a population greater than 100,000? The query should return the Country Name, City Name, District, and Population.

In [ ]:
# SELECT 
#     c.name, ct.name,ct.district, c.population 
# FROM
#     countries c
# JOIN cities ct 
# ON c.id  = ct.country_id
# WHERE
#     c.name = 'Mexico'
#         AND ct.district = 'Veracruz'
#         AND c.population >100000;

​6. What query would you run to get all the ten cities in Brazil with the smallest population? Your query should include the country name, city name, and population. Arrange the result by population in ascending order. Limit the result to the 10 cities with the smallest population.

In [ ]:
# SELECT 
#     c.name, ct.name, ct.population
# FROM
#     countries c
#         JOIN
#     cities ct ON c.id = ct.country_id
# WHERE
#     c.name = 'Brazil'
# ORDER BY ct.population ASC
# LIMIT 10;

​7. What query would you run to get all languages spoken greater than 10% in Monaco? Display the country name, language, and percentage.

In [ ]:
# SELECT 
#     c.name, l.language, l.percentage
# FROM
#     countries c
#         JOIN
#     languages l ON c.id = l.country_id
# WHERE
#     c.name = 'Monaco'
# AND l.percentage >10;